In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('DataM2.csv',  on_bad_lines='skip')
print(df)

In [ ]:
df[df.duplicated(keep=False)]
df2 = df.drop_duplicates()
df2[df2.duplicated(keep=False)]

In [122]:
df.columns

Index(['Nama Toko', 'Lokasi', 'Nama Produk', 'Harga', 'Rating'], dtype='object')

In [ ]:
df2['Nama Toko'] = df2['Nama Toko'].str.replace(r"[\"\'\|\?\=\.\<\>\@\#\*\_\-\!\&\,\(\)\^\ ]",'')

In [ ]:
df2['Lokasi'] = df2['Lokasi'].str.replace(r"[\"\'\|\?\=\.\<\>\@\#\*\_\-\!\&\,\(\)\^\ ]",'')

In [ ]:
df2['Nama Toko']

In [219]:
x = df2.iloc[:, [0,1,3,4]].values

In [220]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(x[:, 2:])
x[:, 2:] = imputer.transform(x[:, 2:])

In [221]:
x_train, x_test= train_test_split(x, test_size=0.2, random_state=1)

In [222]:
sc = StandardScaler()
x_train[:,2:] = sc.fit_transform(x_train[:,2:])
x_test[:,2:] = sc.fit_transform(x_test[:,2:])

In [ ]:
x_train

In [ ]:
x_test

In [223]:
z = pd.DataFrame(x_train)

In [ ]:
x2 = z.iloc[:,[0,2,3]].values

In [ ]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(
    sparse=True, handle_unknown='ignore'), [10])], remainder='passthrough')
x2 = np.array(ct.fit_transform(x2))

In [235]:
f = pd.DataFrame(x2)

In [236]:
f

,0,1,2,3,4,5,6,7,8,9,...,794,795,796,797,798,799,800,801,802,803
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.654422,-0.585965
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.146896,-2.012924
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.509414,-0.585965
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.444161,-0.585965
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.371657,0.127515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1590,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.465006,0.840994
1591,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.561981,0.840994
1592,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.578142,0.840994
1593,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.000076,0.006478
1594,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.262902,-2.726403